#hiddenDanger{
    .el-input__inner{
        padding: 0;
        height: 30px;
        line-height: 30px;
        padding-left: 25px;
    }
    .el-input__icon{
        line-height: 30px;
    }
    .el-button{
        padding: 6px 10px;
        margin-left: 10px;
    }
}