html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

#container {
    width: 100%;
    height: 100%;
}

.tables {
    width: 100%;
    height: calc(100%);
    padding: 0 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
}

.tables input {
    display: inline-block;
    height: 30px;
    width: 100%;
    border: none;
    padding-left: 5px;
}

.tables textarea {
    border: none;
    width: 100%;
}

.tables .table-item {
    width: 800px;
    height: 100%;
}

.tables .table-item .inner-wrap {
    width: 100%;
    height: calc(100% - 10px);
    background: #fff;
    font-size: 14px;
    padding: 0 10px;
    overflow-y: auto;
}

.tables .table-item .inner-wrap .mainHead {
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    font-weight: 600;
    border-bottom: 1px solid #ccc;
}

.tables .table-item .inner-wrap .mainHead.old {
    border-bottom: none;
}

.tables .table-item .inner-wrap .subHead {
    width: 100%;
    padding: 0 20px;
    height: 30px;
    line-height: 30px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #666;
}

.tables .table-item .inner-wrap table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    border-top: 1px solid #ccc;
    margin-bottom: 20px;
}

.tables .table-item .inner-wrap table tr {
    border: 1px solid #ccc;
    border-top: none;
}

.tables .table-item .inner-wrap table tr.noBorder {
    border: none;
}

.tables .table-item .inner-wrap table tr.noBorder td {
    padding-left: 20px;
    border-right: none;
    text-align: center;
}

.tables .table-item .inner-wrap table tr td {
    /* min-height: 40px;
            line-height: 40px; */
    text-align: center;
    border-right: 1px solid #ccc;
    text-align: center;
}

.tables .table-item .inner-wrap table tr td.sm {
    width: 80px;
}

.tables .table-item .inner-wrap table tr td .inLine {
    width: calc(100% - 76px);
    display: inline-block;
}

.tables .table-item .inner-wrap table tr td.lang {
    width: 140px;
}

.tables .table-item .inner-wrap table tr td.middle {
    width: 100px;
}

.tables .table-item .inner-wrap table tr td.largeText {
    padding: 0 5px;
    position: relative;
}

.tables .table-item .inner-wrap table tr td.largeText .limitText {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.tables .table-item .inner-wrap table tr td.largeText textarea {
    margin-top: 10px;
    height: 50px;
    resize: none;
}

.tables .table-item .inner-wrap table tr td.addCol span {
    padding: 0 5px;
    line-height: 20px;
    border: 1px solid #0b83fe;
    color: #0b83fe;
    border-radius: 5px;
    cursor: pointer;
}

.tables .table-item .inner-wrap table tr td.del {
    color: #333;
    font-size: 12px;
}

.tables .table-item .inner-wrap table tr td.del span {
    padding: 0 8px;
    line-height: 20px;
    border: 1px solid #0b83fe;
    color: #0b83fe;
    border-radius: 5px;
    cursor: pointer;
}

.tables .table-item .inner-wrap table tr td.getWorker {
    position: relative;
}

.tables .table-item .inner-wrap table tr td.getWorker .subLists {
    width: 80%;
    position: absolute;
    top: 40px;
    left: 10px;
    background: #fff;
    min-height: 100px;
    max-height: 200px;
    overflow-y: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.tables .table-item .inner-wrap table tr td.getWorker .subLists .listItem {
    width: 100;
    line-height: 30px;
    height: 30px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.tables .table-item .inner-wrap table tr td.getWorker .subLists .listItem:hover {
    background: #0b83fe;
    color: #fff;
}

.tables .table-item .inner-wrap table tr td span {
    width: 100%;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 40px;
    line-height: 40px;
}

.tables .table-item .inner-wrap table tr td.concat span:first-child {
    width: 100px;
}
.tables .table-item .inner-wrap table tr td.concat span:last-child {
    width: calc(100% - 110px);
    text-align: left;
}
