#devs {
    width: 100%;
    height: 100%;

    .date {
        width: 100%;
        height: 50px;
        padding: 10px;
    }

    .content {
        width: 80%;
        margin: 0 auto;
        height: 120px;
        border: 1px solid #ccc;
        &.short{
            height: 80px;
        }
        .headTop {
            width: 100%;
            height: 30px;
            display: flex;
            justify-content: space-between;
            overflow-y: scroll;
            .col {
                width: 33.33%;
                text-align: center;
                border-right: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                &:last-child {
                    border-right: none;
                }

                span {
                    display: inline-block;
                    line-height: 30px;
                    width: 100%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
               
            }
        }
        .subContent {
            width: 100%;
            height: calc(100% - 30px);
            overflow-y: scroll;
            .item {
                width: 100%;
                height: 30px;
                display: flex;
                justify-content: space-between;

                .col {
                    width: 33.33%;
                    text-align: center;
                    border-right: 1px solid #ccc;
                    border-bottom: 1px solid #ccc;

                    &:last-child {
                        border-right: none;
                    }

                    span {
                        display: inline-block;
                        line-height: 30px;
                        width: 100%;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }
                 &:last-child{
                    //  .col{
                    //   border-bottom: none;
                    //  }
                }
            }
        }
        .row{
            width: 100%;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #ccc;
            .col{
                height: 40px;
                font-size: 14px;
                &:nth-child(odd){
                    background: #d6fafa;
                width: 160px;
                text-align: center;
                line-height: 38px;
                }
                &:nth-child(even){
                    background: #fff;
                    width: calc(100% - 80px);
                    line-height: 38px;
                    text-align: center;
                }
            }
        }
    }

    #chart {
        width: 100%;
        height: calc(100% - 175px);
        &.large{
            height: calc(100% - 140px);
        }
        &.long{
            height: calc(100% - 150px);
        }
    }

}