@import'./surver.scss';
@import "./earlyWarning.scss";
@import "./waterStatiastics";
@import './baseSet.scss';
@import './dispatch.scss';

#devs{
    .el-input__inner{
        height: 25px !important;
        line-height: 25px!important;
    }
    .el-input__icon{
        line-height: 25px !important;
    }
    .el-date-editor.el-input, .el-date-editor.el-input__inner {
        width: 145px !important;
    }

}
#burstingRiskAnalysis{
    .el-input .el-input__icon{
        line-height: 30px;
    }
}