#surver {
    .el-input__inner {
        height: 30px;
        line-height: 30px;
    }
    .el-input__icon {
        line-height: 30px;
    }
    .el-button{
        padding: 0;
        height: 30px;
        line-height: 30px;
        padding: 0 10px;
    }
    #selectTree .el-button{
        line-height: normal;
    }
    .el-date-editor.el-input{
        width: 140px;
        font-size: 12px;
    }
    .el-radio+.el-radio {
        margin-left: 10px;
    }
    .noMargin{
        margin-left: 0 !important;
    }
    .el-radio__label{
        font-size: 12px;
    }
    
    .esri-popup__header{
        display: block;
    }
}