
#home {
    .el-input__inner {
        height: 30px;
        line-height: 30px;
        width:275px;
    }
    .el-input__icon {
        line-height: 30px;
    }
    .el-button{
        padding: 0;
        padding: 4px 5px;
        font-size: 12px;
    }
    .subContent{
        .el-input__inner {
            height: 25px;
            line-height: 25px;
        }
        .el-input__icon {
            line-height: 25px;
        }
    }
    .esri-popup__main-container{
        max-height: none;
    }
    .esri-popup__header{
        background: #2a91db;
        color: #fff;
    }
    .esri-popup__button--dock{
        display: none;
    }
    .esri-popup__feature-buttons{
        display: none;
    }
    .esri-popup__content{
        // margin: 0 10px;
        margin: 0 auto;
    }
    .esri-icon-close{
        color: #fff;
    }
}