#waterInformation {
    .el-input__inner {
        height: 30px;
        line-height: 30px;
    }
    .el-button {
        padding: 0px 8px;
        &.search{
   span {
            line-height: 24px;
        }
        }
     
    }
    .el-input__icon {
        line-height: 30px;
    }
}