html,
body {
    width: 100%;
    height: 100%;
    line-height: 1;
    font-family: "微软雅黑";
}

* {
    box-sizing: border-box;
}

table {
    table-layout: fixed;
    word-break: break-all;
    word-wrap: break-word;
}
td{
    span{
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        vertical-align: middle;
    }
}

.el-circle-off {
    display: inline-block;
    vertical-align: middle;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background-color: red;
}

.el-button {
    padding: 5px 10px;
}
.esri-popup__button{
    color: #fff !important;
}
.el-circle-on {
    display: inline-block;
    vertical-align: middle;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background-color: green;
}

.dse-rect-green {
    display: inline-block;
    width: 14px;
    height: 14px;
    vertical-align: middle;
    background-color: #29bcbd;
}

.el-menu-item {
    border: none; // border-top: none;
    border-bottom: 1px solid #ccc;
    &.is-active {
        // background-image: linear-gradient(to right, #127cd1, #1edff9);
        background-image: linear-gradient(to right, #1edff9, #127cd1);
    }
    &:first-child {
        border-top: none;
    }
    &:last-child {
        border-bottom: 1px solid #ccc;
    }
}

.el-menu-item,
.el-submenu__title {
    height: 40px;
    line-height: 34px;
}

.el-submenu {
    border-bottom: 1px solid #ccc;
    border-top: none;
}

.el-container {
    width: 100%;
    height: 100%;
}

.el-main {
    padding: 0;
}

.el-icon-date {
    color: #0b83ff;
}

.quill-editor {
    height: calc(100% - 20px) !important;
    margin-bottom: 20px;
}

.ql-formats:last-child {
    display: none !important;
}

.ql-container {
    width: 100%;
    height: calc(100% - 42px) !important;
}

.el-dropdown-menu__item {
    .rect {
        display: inline-block;
        width: 12px;
        height: 12px;
        border: 1px solid #ccc;
        margin-right: 5px;
        position: relative;
        i {
            font-size: 12px;
            color: #0b83ff;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}

.el-dropdown-menu__item:hover {
    background: #0b83ff !important;
    color: #fff !important;
}

.el-radio__label {
    padding-left: 10px;
}

.el-input__inner {
    height: 30px;
    line-height: 30px;
}

.el-input__icon {
    line-height: 30px;
}

.esri-popup__header {
    background: #0b83ff !important;
    color: #fff !important;
}


.esri-popup__actions {
    display: none !important;
}

.esri-popup__content {
    margin: 0 auto !important; // overflow: hidden;
}

.esri-view-height-less-than-medium .esri-popup__main-container {
    max-height: 547px !important;
}

.esri-view-width-large .esri-popup__main-container {
    width: 500px !important;
}

.esri-view-width-xlarge .esri-popup__main-container {
    width: 500px !important;
}

.esri-popup__header {
    height: 30px !important;
    display: flex !important;
    justify-content: space-between !important;
}

.esri-popup__header-title {
    padding: 5px !important;
}

.esri-popup__button {
    padding: 5px !important;
}

.esri-popup__button--dock {
    display: none !important;
}

.frame_small .esri-view-width-large .esri-popup__main-container {
    width: 100px !important;
}

.frame_small .esri-view-width-xlarge .esri-popup__main-container {
    width: 100px !important;
}

.el-radio+.el-radio {
    margin-left: 5px;
}

.esri-popup__main-container {
    max-height: 547px !important;
}

.esri-view-root {
    width: 100% !important;
    height: 100% !important;
}

.el-tree__empty-block {
    min-height: 30px;
}

.el-tree {
    background: #fff;
    .el-tree-node__children {
        background: #fff;
    }
    .el-tree-node {
        background: rgb(245, 238, 238);
    }
}

.el-tree-node__content{
    height: 30px;
}


// arcgis弹窗的样式 强制修改
.esri-view-width-medium .esri-popup__main-container {
    width: 500px !important;
}

.esri-popup__main-container {
    width: 500px !important;
}

.el-date-editor .el-icon-circle-close{
    display: none !important;
}

.esri-popup__feature-buttons{
    display: none !important;
}




// 左侧图例强制纠正
.legend-left{
    #legend .btn-legend{
        left: 20px;
    }
}

#zoning_leakDetection{
    .esri-ui-corner{
        left: calc(100% - 30px) !important;
        top: 40px !important;
    }
}



//  管网 综合信息  重置 样式

// 首页
#home .wrap-search .positions{
    .el-input__inner {
        height: 30px;
        line-height: 30px;
        width: 180px;
    }
    .el-input--suffix .el-input__inner {
        padding-right: 0px;
    }

}
// 首页
#home .top-action{
    width: 20%;
    left: 18px !important;
    padding: 0 !important;
    .el-select{
        width: 100% !important;
    }
    .el-input__inner{
        width: 100%;
    }
}   

// 首页

#home .esri-ui-corner{
    display: none  !important;
}


// 管网综合信息的  2d和3d 管网弹窗

#pipeFrame{
    .el-input .el-input__clear{
            line-height: 30px !important;
    }
}


// 管网巡检抢修
#information .wrap-tips .legent{
    height: 85px !important;
}

#hiddenDanger{
    .el-icon-circle-close{
        display: block !important;
    }
    .search{
        .el-select {
            display: inline-block;
            position: relative;
            margin-right: 10px;
            width: 60px ;
            .el-input__inner {
                padding-left: 8px;
            }
            .el-input__suffix {
                right: 0px ;
            }
        }
       
    }
   
}
#information{
    .el-icon-circle-close{
        display: block !important;
    }

    .plan{
        // .el-date-editor{
        //     width: 110px;
            .el-picker-panel{
                position: absolute;
                left: -158px !important ;
                z-index: 1000;
            }
        // }
    }

}

